.MessagesList {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.MessagesList-messagesWrapper {
  flex-grow: 1;
  background-color: #f3f3f3;
  border: 1px solid #d3d3d3;
  border-radius: 5px;
  margin-bottom: 10px;
  padding: 5px;
  overflow-y: hidden;
}

.MessagesList-messages {
  cursor: text;
  white-space: pre-wrap;
  overflow-y: scroll;
  padding: 5px;
  width: 100%;
  height: 100%;
}

.MessagesList-message {
  position: relative;
  margin: 3px 0;
}

.MessagesList-message span {
  margin-right: 5px;
}

.MessagesList-author {
  font-weight: bold;
}

.MessagesList-deleteBtn {
  width: 18px;
  height: 18px;
  text-align: center;
  line-height: 18px;
  position: absolute;
  top: 50%;
  transform: translate(5px, -50%);
  font-style: italic;
  font-size: 12px;
  cursor: pointer;
  transition: 0.2s;
  display: inline-block;
  padding: 0;
  border: none;
  background: none;
  outline: none;
  opacity: 0;
}

.MessagesList-message:hover .MessagesList-deleteBtn {
  opacity: 0.7;
}

.MessagesList-form {
  display: flex;
  margin-bottom: 5px;
}

.MessagesList-form input {
  flex-grow: 1;
  border: 1px solid #ccc;
  padding: 5px;
  margin-right: 5px;
  border-radius: 3px;
  background-color: #f3f3f3;
}

.MessagesList-form button {
  border: 1px solid #ccc;
  border-radius: 3px;
  padding: 5px 12px;
  background-color: #f3f3f3;
  cursor: pointer;
  transition: 0.2s;
}

.MessagesList-form button:hover {
  background-color: #e5e5e5;
}