.Chat {
  height: 100%;
  display: flex;
}

.Chat > div {
  background-color: #eee;
  box-shadow: 0 0 5px 1px rgba(50, 50, 50, 0.35);
  border-radius: 5px;
  margin: 0 5px;
  padding: 5px 10px;
}

.Chat > :first-child {
  width: 20%;
  margin-left: 0;
}

.Chat > :last-child {
  width: 80%;
  margin-right: 0;
}

.Chat h3 {
  font-size: 16px;
  margin: 0 -10px 10px;
  padding: 5px 10px 10px;
  border-bottom: 1px solid #d5d5d5;
  font-weight: normal;
}