.Login label, .Login input {
  display: inline-block;
  margin-bottom: 10px;
  padding: 5px;
}

.Login label {
  width: 100px;
  padding-left: 0;
}

.Login input {
  width: calc(100% - 100px);
}

.Login button {
  margin-left: 100px;
  padding: 8px 14px;
}