.Header {
  padding: 0 5px;
  background-color: #eee;
  box-shadow: 0 0 5px 1px rgba(50, 50, 50, 0.35);
  border-radius: 0 0 5px 5px;
  height: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.Header span, .Header a {
  color: #222;
}

.Header a {
  text-decoration: none;
  padding: 5px;
  transition: 0.15s;
}

.Header a.active, .Header a:hover {
  color: #07a;
}

.Header-splitter {
  padding-right: 10px;
  margin-right: 5px;
  position: relative;
}

.Header-splitter::after {
  content: '';
  display: inline-block;
  height: 100%;
  width: 1px;
  background-color: #777;
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}