.Register label, .Register input {
  display: inline-block;
  margin-bottom: 10px;
  padding: 5px;
}

.Register label {
  width: 100px;
  padding-left: 0;
}

.Register input {
  width: calc(100% - 100px);
}

.Register button {
  margin-left: 100px;
  padding: 8px 14px;
}